.app {
  background-color: #4e4747;
  color: #e0e0e0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.app-header {
  background-color: #000000;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #2a2a2a;
}

.app-header h1 {
  color: #0cce83; 
  font-size: 1.8rem;
}
