body {
  margin: 0;
  background-color: #ffffff;
  color: #e0e0e0;
}

a {
  color: #003f27;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
<<<<<<< HEAD
}
=======
}
>>>>>>> 533ccf288add2aca5235b8265319ccd70d6c5364
