<<<<<<< HEAD
.price-chart-container{
    width: 100%;
    height: 500px;
}
=======
.price-chart {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-chart canvas {
  max-width: 100%;
  max-height: 100%;
}
>>>>>>> priceChart
