.watchlist {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #121212;
  color: #fff;
}

.watchlist h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.watchlist-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}